/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--text-weight);
  color: var(--main-color);
  background-color: var(--theme-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font);
  font-size: var(--text-size);
  inline-size: var(--inline-size);
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding-block-start: 120px;
  padding-block-end: 25px;
  background-color: var(--theme-color);
  text-transform: uppercase;
  outline: var(--outline);
  @media (min-width: 700px) {
    padding-block-start: 136px;
  }
}

.header__logo {
  font-size: 49px;
  margin-block-end: 20px;
  max-inline-size: 100%;
  @media (min-width: 700px) {
    font-size: 65px;
  }
}

.header__title {
  font-size: var(--text-size);
  margin-block-end: 25px;
  @media (min-width: 700px) {
    font-size: 23px;
  }
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 20px;
  gap: 14px;
}

.theme-menu__button {
  font-size: var(--text-size);
  text-transform: uppercase;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  inline-size: 0%;
  block-size: 2px;
  margin-block-end: -2px;
  margin-block-start: 1px;
  background-color: var(--main-color);
  transition: inline-size 0.3s;
}

.theme-menu__button:focus-visible::after {
  inline-size: 100%;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 0;
  left: -22px;
  inline-size: 16px;
  block-size: 13px;
  animation: arrow 0.5s ease-in-out infinite alternate ;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  inline-size: var(--inline-size);
}

.card {
  display: flex;
  flex-direction: column;
  padding-block-end: 25px;
  background-color: var(--theme-color);
  outline: var(--outline);
}

.card__title {
  font-size: var(--card-title-size);
  font-variation-settings: 'wght' var(--title-weight);
  padding: 3.5px 10px 5.5px 10px;
}

.card__img-wrapper {
  position: relative;
  text-align: center;
  outline: var(--outline);
}

.skills {
  position: absolute;
  top: 25px;
  right: 13px;
  font-family: var(--accent-font);
  font-size: var(--text-size);
  text-shadow:
  -1px 0 var(--theme-color), 
  0 1px var(--theme-color), 
  1px 0 var(--theme-color), 
  0 -1px var(--theme-color);
  text-transform: uppercase;
  opacity: 0.5;
  z-index: 1;
}

@supports((text-stroke: 1px var(--theme-color)) or (-webkit-text-stroke: 1px var(--theme-color))) {
  .skills {
      -webkit-text-stroke: 1px var(--theme-color);
      text-stroke: 1px var(--theme-color);
      text-shadow: none;
  }
} 

.card-img {
  display: block;
  inline-size: 100%;
  max-block-size: 696px;
}

/* filters */

.filter-contrast-img {
  filter: contrast(100%);
}

.filter-blur-img {
  filter: blur(0.05rem);
}

.filter-opacity-img {
  filter: opacity(0.8);
}

.filter-grayscale-img {
  filter: grayscale(0.8);
}

.filter-saturate-hue-img {
  filter: saturate(60%) hue-rotate(10deg);
}

.filter-sepia-img {
  filter: sepia(80%);
}

.filter-invert-img {
  filter: invert(1);
}

.filter-brightness-img {
  filter: brightness(150%);
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  padding: 25px;
}

.card-text {
  font-size: var(--card-title-size);
  line-height: 21px;
  max-inline-size: 317px;
  @media (width > 375px) {
    max-inline-size: 646px;
  }
}

.card__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card__icon-button {
  display: flex;
  align-items: center;
  padding: 0;
  margin-inline-end: 8px;
  inline-size: 39px;
  block-size: 39.4px;
  transition: outline 0.3s;
  transition-timing-function: ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--outline);
}

.card__like-button {
  position: relative;
  font-family: var(--accent-font);
  font-size: var(--text-size);
  padding-block-start: 10.5px;
  padding-block-end: 10.5px;
  min-inline-size: 126px;
  align-self: flex-end;
  margin-inline-end: 25px;
  border: var(--outline);
  transition: box-shadow 0.3s;
}

.card__like-button:focus {
  box-shadow: 3px 3px 0 0 var(--main-color);
}

.button-transformation::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 0;
  block-size: 100%;
  background-color: var(--main-color);
  transition: inline-size 0.5s;
  transition-timing-function: ease-in-out;
}

.button-transformation:hover::after {
  inline-size: 100%;
}

.button__text {
  color: var(--button-text-color);
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
}

.save-button {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font);
  font-size: var(--text-size);
  line-height: 90%;
  align-items: center;
  padding: 15px 20px;
  min-inline-size: 306px;
  min-block-size: 84px;
  margin-block-start: 2px;
  margin-block-end: 100px;
  background-color: var(--theme-color);
  outline: var(--outline);
  @media (min-width: 700px) {
    flex-direction: row;
    min-inline-size: 335px;
    min-block-size: 55px;
  }
}

.floppy-icon {
  position: relative;
  z-index: 1;
  inline-size: 39px;
  block-size: 39px;
  margin-block-end: 8px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.save-button .floppy-icon {
  inline-size: 28px;
  block-size: 28px;
  @media (min-width: 700px) {
    inline-size: 21px;
    block-size: 21px;
    margin: 0;
    margin-inline-end: 8px;
  }
}

.save-window {
  max-inline-size: 341px;
  padding: 30px 40px;
  background-color: var(--theme-color);
  color: var(--main-color);
}

.save-window__content {
  display: flex;
  align-items: center;
  font-family: var(--accent-font);
  font-size: var(--text-size);
  margin-block-end: 30px;
}

.save-window .floppy-icon {
  margin: 0;
  margin-inline-end: 20px;
}

.save-window__title {
  font-size: var(--text-size);
  max-inline-size: 198px;
  text-transform: uppercase;
  line-height: 150%;
}

.save-window__close-button {
  position: relative;
  inline-size: 100%;
  padding: 9px 0;
  outline: var(--outline);
  font-family: var(--accent-font);
  font-size: var(--text-size);
  text-transform: uppercase;
  line-height: 90%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.75;
} 